<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>tchat</servlet-name>
        <servlet-class>com.naturalmotion.servlet.ConversationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>events</servlet-name>
        <servlet-class>com.naturalmotion.servlet.EventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crew</servlet-name>
        <servlet-class>com.naturalmotion.servlet.CrewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wildcards</servlet-name>
        <servlet-class>com.naturalmotion.servlet.WildcardsServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>tchat</servlet-name>
        <url-pattern>/tchat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>events</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wildcards</servlet-name>
        <url-pattern>/wildcards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crew</servlet-name>
        <url-pattern>/crew</url-pattern>
    </servlet-mapping>
</web-app>
